@page "/Sistema/Usuarios/"
@using EasySales.Client.Services;
@using EasySales.Shared
@using Microsoft.AspNetCore.Authorization;
@using System.Dynamic;

@inject NavigationManager NavManager

@attribute [Authorize(Roles = "Admin")]

<h3>Usuarios del sistema</h3>

<style>
    .e-spinner-pane .e-spinner-inner .e-spin-bootstrap5 {
        stroke: royalblue;
    }
</style>

<PageTitle>Usuarios</PageTitle>

<SfSpinner Label="Cargando Datos, Por Favor Espere." Size="50" Type="SpinnerType.Bootstrap5" @bind-Visible="SpinnerVisible">
</SfSpinner>

@if (users != null)
{
    var SearchColumns = new string[] { "Nombre", "Numero Identificacion" };

    <SfGrid @ref="usersGrid" DataSource="@users" AllowPaging=true AllowSorting=true AllowMultiSorting=false AllowFiltering=true
            Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel","Search"})" TValue="EasySalesServerUser">
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal">
            <HeaderTemplate>
                <span>@GetDialogHeader(context as EasySalesServerUser)</span>
            </HeaderTemplate>
            <FooterTemplate>
                <SfButton OnClick="@Save" IsPrimary="true">@FooterSaveButtonText</SfButton>
                <SfButton OnClick="@Cancel">Cancel</SfButton>
            </FooterTemplate>
        </GridEditSettings>
        <GridEvents OnActionBegin="ActionBeginHandler" TValue="EasySalesServerUser" CommandClicked="OnCommandClicked"></GridEvents>
        <GridSearchSettings Fields="@SearchColumns"></GridSearchSettings>
        <GridPageSettings PageSize="10"></GridPageSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate" Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn AllowSorting=false AllowAdding=false IsPrimaryKey=true Visible="false" Field=@nameof(EasySalesServerUser.Id) HeaderText="ID"
                        AllowFiltering=false></GridColumn>
            <GridColumn Field=@nameof(EasySalesServerUser.NombreCompleto) HeaderText="Nombre" FilterSettings="@(new FilterSettings()
                        {Operator=Operator.Contains})"></GridColumn>
            <GridColumn Field=@nameof(EasySalesServerUser.NumeroIdentificacion) HeaderText="Numero Identificacion" FilterSettings="@(new FilterSettings()
                {Operator=Operator.Contains})"></GridColumn>
            <GridColumn Field=@nameof(EasySalesServerUser.Activo) HeaderText="Activo" DisplayAsCheckBox="true" DefaultValue="true"
                        HeaderTextAlign="TextAlign.Center" TextAlign="TextAlign.Center" EditType="EditType.BooleanEdit"></GridColumn>
            <GridColumn Field=@nameof(EasySalesServerUser.Email) HeaderText="Correo"></GridColumn>
            <GridColumn HeaderText="Acciones">
                <GridCommandColumns>
                    <GridCommandColumn ButtonOption="@(new CommandButtonOptions() {
                    Content = "Roles", CssClass = "e-flat", IconCss="e-icons e-link" })"></GridCommandColumn>
                </GridCommandColumns>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}



@code {

    #region Variables

    [Inject]
    public IUsersService? usersService { get; set; }
    public IEnumerable<EasySalesServerUser> users { get; set; }

    private bool SpinnerVisible { get; set; }
    private SfGrid<EasySalesServerUser>? usersGrid { get; set; }
    private SfGrid<EasySalesServerRoles>? rolesGrid { get; set; }
    private string FooterSaveButtonText { get; set; }


    #endregion

    protected override async Task OnInitializedAsync()
    {
        try
        {
            this.SpinnerVisible = true;
            users = (await usersService.CargarDatos()).ToList();
            this.SpinnerVisible = false;
        }
        catch (Exception)
        {

            throw;
        }
    }


    #region Eventos Controles

    public async void ActionBeginHandler(ActionEventArgs<EasySalesServerUser> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                await usersService.Agregar(Args.Data);
                users = (await usersService.CargarDatos()).ToList();
                usersGrid.Refresh();
            }
            else
            {
                await usersService.Modificar(Args.Data);
                users = (await usersService.CargarDatos()).ToList();
                usersGrid.Refresh();
            }
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            await usersService.Eliminar(Args.Data.Id);
        }
    }

    public string GetDialogHeader(EasySalesServerUser users)
    {
        if (users.Id == "")
        {
            FooterSaveButtonText = "Agregar";
            return "Agregar Nuevo Registro";
        }
        else
        {
            FooterSaveButtonText = "Actualizar";
            return $"Editar Detalles {users.NombreCompleto} ";
        }
    }

    public async Task Cancel()
    {
        await usersGrid.CloseEditAsync();
    }

    public async Task Save()
    {
        await usersGrid.EndEditAsync();
    }

    public async void OnCommandClicked(CommandClickEventArgs<EasySalesServerUser> args)
    {
        try
        {
            if (args.CommandColumn.ButtonOption.Content == "Roles")
            {
                NavManager.NavigateTo("/Sistema/Roles/UsuarioRoles/" + args.RowData.Id);
            }
        }
        catch (Exception ex)
        {

            throw;
        }
    }

    #endregion


}
